<!DOCTYPE html>
<html lang="pt-br">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Repositório Github</title>
    <link rel="shortcut icon" href="images/favicon.ico">
        
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/terceiros")
    
    @Scripts.Render("~/bundles/projeto")
    
    
</head>
<body ng-app="repositorioGithub">

    <div ng-include="'Home/Header'"></div>

    <div class="container jumbotron">
        <div data-ng-view data-autoscroll class="container">

        </div>
    </div>
    <div ng-include="'Home/Footer'"></div>

</body>
</html>